*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   color: #fff;
   font-family: "Plain Light";
}

html,body{
    width: 100%;
    height: 100%;
}
#cursor{
    height: 2.8vw;
    width: 2.8vw;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 1px solid rgb(196, 195, 195);
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    position: fixed;
    z-index: 999;
    padding: 20vh 7vw;
}
.line{
    /* background-color: rgb(70, 49, 21); */
    height: 8vw;  /* instead of fit-content */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 2vw;
    
}
.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    margin-right: 3vw;
    /* font-size: 3vw;
    font-family: "silk serif"; */
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 500;
}
#line1-part1 h5{
    /* background-color: rgb(119, 190, 235); */
    width: 5.2vw;
    text-align: right;
}
.line h2{
    font-size: 7vw;
    text-transform: uppercase;
    /* background-color: antiquewhite; */
    opacity: 0;
    /* animation-name: anime; */
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
#bottom-line{
    /* margin-top: 4.5vw; */
    /* background-color: aqua; */
    padding: 4.5vw 20vw;
    
}
#bottom-line h5{
    font-size: 15px;
    line-height: 20px;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    49%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #111;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #171717;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2vw 6vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1vw;
    /* position: relative;
    display: inline-block; */
}

.center{
    /* background-color: rgb(79, 70, 59); */
    /* width: 75%; */
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.center:nth-child(2) {
    margin-top: 17vh;
}
.center h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 520;
}
.center h2{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 520;
    /* text-decoration: underline; */
}
.center h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
}